@import 'colors';

@keyframes fade-in-animation-delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shrink-width {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes background-slide {
  from {
    left: 0;
    filter: blur(6px);
  }
  to {
    left: -200%;
    filter: blur(15px);
  }

}

@keyframes blur-out-animation {
  from {
    top: 0;
    opacity: 1;
    right: -100vw;
  }
  to {
    top: 0;
    right: -50vw;
  }
}

@keyframes blur-in-animation-delay {
  from {
    filter: blur(0.75vw);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes fade-out-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;

  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes scroll-animation {
  from {
    margin-left: 0;
  }
  28% {
    margin-left: -100%;
  }
  56% {
    margin-left: -200%;
  }
  to {
    margin-left: -300%;
  }
}


@keyframes animation-outline {
  100% {
    fill: #8BC34A;
  }
}

@keyframes animation-fill {
  100% {
    fill: #2E7D32;
  }
}

@keyframes animation-toggler {
  0% {
    transform: translate(223px, 641.5px)
  }

  16.666667% {
    transform: translate(223px, 641.5px);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
  }

  33.333333% {
    transform: translate(223px, 524.5px)
  }

  100% {
    transform: translate(223px, 524.5px);
  }
}

@keyframes animation_timer {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes animation_cta {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes pulse-line {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes timeline-middle-line-animate {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right top;
  }
}


@keyframes up-down-animation {
  from {
    opacity: .5;
    top: -1%;
  }
  to {
    top: 1%;
    opacity: .7;
  }
}

@keyframes up-down-fade-in-animation {
  from {
    top: -10%;
    opacity: 0;
  }
  to {
    top: -1%;
    opacity: .5;
  }
}

@keyframes fade-in-test {
  from {
    filter: blur(.5em);
    color: #c99000;
  }
  10% {
    opacity: .5;
  }
  75% {
    color: #EA3526;
  }
  to {
    filter: blur(0);
    opacity: 1;
    color: black;
  }
}

@keyframes fade-in-test-2 {
  from {
    opacity: 0;
    /*color: #8d6700;*/
    color: #fff;
  }
  55% {
    opacity: 1;
  }
  75% {
    color: #9a241a;
  }
  to {
    opacity: 1;
    color: black;
  }
}
