
#internet .inner {
    border: 1px #000 inset;
    border-bottom: 0;
    background: white !important;
    display: block;
    min-width: 350px;
    min-height: 200px;
    height: calc(100% - 162px);
    width: calc(100vw - 162px);
    height: calc(100vh - 340px);
}

#internet .inner * ul {
    list-style: initial !important;
}


#netscape_toolbar {
    margin: 5px 5px 5px 5px; 
}

#netscape_toolbar .logo {
    width: 46px;
    float: right;
    text-align: center;
    padding: 5px 0;
    margin: 0;
}

#netscape_toolbar .logo img {
    height: 34px;
    padding: 0 !important;
    margin: 0 !important;
}

#netscape_toolbar .toolbar_buttons {
    width: 100%;
    height: 100%;
    float: left;
    clear: both;
    height: 45px;
}

.toolbar_button {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #bbb #aaa #999;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #333, 0 2px 2px -3px #111;
    height: 100%;
    float: left;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center 4px;
    background-size: 24px;
    margin-right: 1px
}

.toolbar_button:active {
    border-color: #999 #aaa #bbb;
    -webkit-box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #333, 0 2px 2px -3px #111;
}

.toolbar_button h6 { 
    position: relative;
    top: 29px;
    font-size: .65em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.toolbar_button.spacer { 
    width: 16px;
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}



.back_button {
    background-image: url('../img/netscape/back.png');
}

.forward_button {
    background-image: url('../img/netscape/forward.png');
}

.home_button {
    background-image: url('../img/netscape/home.png');
}

.toolbar_favorites {
    width: 100%;
    align-items: center
}


.toolbar_location {
    clear: both;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 2px;
}

.toolbar_location div {
    height: 100%;
    float: left; 
    display: flex;
    align-items: center
}

.toolbar_location .location_label {
    width: 60px;
    margin-right: 5px;
}

.toolbar_location .location_input  {
    width: calc(100% - 120px);
}

.toolbar_location .location_input input  {
    width: 100%;
    border: 2px #666;
    border-style: inset;
    height: 60%;
    font-family: "Charcoal", "Chicago", "Times New Roman", "Georgia", serif;
}

.toolbar_location .location_input label {
    height: 100%;
    width: 90px;
}

.toolbar_location .location_go {
    float: right;
    width: 40px;
}

.toolbar_location .location_go button {
    width: 100%;
}

.netscape_footer {
    padding: 0 5px;
}

/* .location_bar .location_go {
    float: right;
    width: 200px;
}

.toolbar_location div:last-of-type {
    margin-right: 0;
    float: right;
}

.toolbar_location .location_go {
    width: 45px !important;
}

.toolbar_location .location_go, .toolbar_location .location_go button {
    float: right;
    width: 100%
}

.location_bar label {
    width: 100px
    display: inline-block;
    text-align: right;
}

.location_bar input  {
    width: 100%
}



 */
